@charset "UTF-8";
/**
 * Provids a basic LaTeX style for HTML text.
 * @see README.md
 * 
 * @author Philipp Miller
 * @url https://github.com/philer/HTMLpaper
 * 
 */


/**
 * Computer Modern was the original LaTeX font created by Donald Knuth
 * If you want to use Computer Modern uncomment the following lines and add
 * "Computer Modern Serif" as a font-family to .latex.
 * 
 * @see https://en.wikipedia.org/?title=Computer_Modern
 * @see http://checkmyworking.com/cm-web-fonts/
 */
/*@import "fonts/computer_modern/cmun-serif.css";*/
/*@import "fonts/computer_modern/cmun-typewriter.css";*/

/**
 * Latin Modern is the natural successor to Computer Modern and is used
 * in most LaTeX distributions today.
 * 
 * @see http://www.gust.org.pl/projects/e-foundry/latin-modern/index_html
 * @see https://en.wikipedia.org/?title=Computer_Modern#Latin_Modern
 */
@import "fonts/latin_modern/lmodern.css";


.latex {
  font-family: "Latin Modern Roman", "Latin Modern Roman Webfont";
  font-size: 11pt;
  line-height: 1.3em;
}

.latex * {
  text-overflow: ellipsis;
}

/* LaTeX indents all paragraphs except the first one */
.latex p {
  margin: 1em 0;
  text-indent: 1.5em;
}
.latex p.no-indent,
.latex p:first-child,
.latex p:first-of-type,
.latex h1 + p,
.latex h2 + p,
.latex h3 + p,
.latex h4 + p,
.latex h5 + p,
.latex h6 + p
{
  text-indent: 0;
}
.latex h1,
.latex h2,
.latex h3,
.latex h4,
.latex h5,
.latex h6
{
  margin: 1em 0;
}

.latex h1 {
  font-size: 2em;
}
.latex h2 {
  font-size: 1.5em;
}
.latex h3 {
  font-size: 1.2em;
}

.latex section :first-child {
  margin-top: 0;
}

.latex code,
.latex pre,
.latex .code
{
  font-family: "Latin Modern Mono", "Latin Modern Mono Webfont";
}
